.hg/*
data/cache/*
data/document/*
data/email_send/*
data/images/*
data/import/*
data/logs/*
data/upload/*
data/tmp/*
data/note/*
data/quickmail/*
data/mails/*
.idea/*
public/cached/*
public/files/*
nbproject/*
*.orig
.DS_Store
public/.htaccess
.htaccess
*/config/*.php
.buildpath
.project
.settings
!*/config/cms_share_points.php
public/.well-known/*
public/assets/.sass-cache/*/*.scssc
